#header {
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("../Images/FOND HEAD.png");
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    padding: 4%
}
body {
    margin: 1px;
}


#menu {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
    border-radius: 30px;
    /*float: left;*/
    padding: 300px;
}

#footer {
    background-color: grey;
    text-align: center;
    clear: both;
}