/*Layout*/

.header {
    border-radius: 30px;
    border: 2px solid black;
    min-height: 200px;
    text-align: center;
    color: black;
    background-image: url("/Images/FondHead.png");
    background-position: center;
    background-size: cover;
    object-fit: fill;
    border-radius: 30px;
    margin-bottom: 5px;
}


/*LayoutClub*/
.header-Club {
    border-radius: 30px;
    border: 2px solid black;
    min-height: 200px;
    text-align: center;
    color: black;
    background-image: url("/Images/HeaderClub.png");
    background-position: center;
    background-size: cover;
    object-fit: fill;
    border-radius: 30px;
    margin-bottom: 5px;
}


.general {
    margin-block: 5px;
    display: flex;
    min-height: 83vh;
}

.menu {
    margin-block: 4px;
    width: 250px;
    border: 2px solid black;
    padding: 20px !important;
    border-radius: 30px;
    background-color: beige;
    background-position: top;
}

/*LayoutClub*/
.menuClub {
    margin-block: 4px;
    width: 250px;
    border: 2px solid black;
    padding: 20px !important;
    border-radius: 30px;
    background-color: #f0e4c1;
    background-position: top;
}


.titreSite {
    text-align: center;
}

.titre1 {
    text-align: center;
    font-size: 1.8rem;
    padding: 2px;
    align-items: center;
    border-radius: 30px;
    background-color: lightgray;
    margin: 0;
}


h4 .soustitre {
    text-align: center;
    font-size: 1.2rem;
}


/*.btn {
    margin: 5px;
    min-width: 100% !important;
    display: flex;
    flex-direction: column;
}*/

.buttons {
    justify-content: center;
    align-items: center;

}

.btn {
    margin: 5px;
    min-width: 100% !important;
    border-radius: 50px;
    border: 0;
    font-size: 1rem;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}


.btn--btnClub {
    background: #23437a;
    color: white;
}

    .btn--btnClub:hover {
        background: lightblue;
        color: black
    }

.btn--btnAdmin {
    background: #23437a;
    color: white;
}

    .btn--btnAdmin:hover {
        background: lightblue;
        color: black
    }

.btn--btnParapentiste {
    background: #23437a;
    color: white;
}

    .btn--btnParapentiste:hover {
        background: lightblue;
        color: black
    }

.btn--btnAcceuil {
    background: #23437a;
    color: white;
}

    .btn--btnAcceuil:hover {
        background: lightblue;
        color: black
    }

.btn--btnConnexion {
    background: #23437a;
    color: white;
}

    .btn--btnConnexion:hover {
        background: lightblue;
        color: black;
    }

.btn--btnRechercheClub {
    background: #23437a;
    color: white;
}

    .btn--btnRechercheClub:hover {
        background: lightblue;
        color: black;
    }
.btn--btnEvent {
    background: #23437a;
    color: white;
}

    .btn--btnEvent:hover {
        background: lightblue;
        color: black;
    }
.btn--btnAbonnement {
    background: #23437a;
    color: white;
}

    .btn--btnAbonnement:hover {
        background: lightblue;
        color: black;
    }


.contenu {
    padding : 20px;
    margin: 4px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 30px;
    min-height: 10px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


/*Welcome view*/
.slider {
    width: 440px;
    overflow: hidden;
    margin: 15px auto;
}
    .slides {
    position: center;
    width: calc(800px * 3);
    animation: glisse 12s alternate infinite ;
       }

    .slide {
    float: left;
    }

        @keyframes glisse {
            0% {
                transform: translateX(0);
            }
            10% {
                transform: translateX(0);
            }

            33% {
                transform: translateX(-441px);
            }
            45% {
                transform: translateX(-441px);
            }

            66% {
                transform: translateX(-884px);
            }

            100% {
                transform: translateX(-884px);
            }
        }


.btn2 {
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-top: 20px;
    margin-left: 250px;
    border: 2px solid black;
    padding: 200px !important;
    border-radius: 30px;
    background-color: beige;
    background-position: top;
    text-align: center;
    cursor: pointer;
}

.btn2--btnClub2 {
    background-image: url("/Images/espaceclub2.png");
    color: white;
}
    .btn2--btnClub2:hover {
        background-image: url("/Images/decollage1.png");
        color: black;
    }

.btn2--btnParapentiste2 {
    background-image: url("/Images/espaceparapentiste.png");
    color: white;
}

    .btn2--btnParapentiste2:hover {
        background-image: url("/Images/decollage1.png");
        color: black;
    }

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-link {
    border-radius: 30px;
}
    .image-link:hover {
    content: url("/Images/decollage1.png");

 
}

/*Espace club*/
.image-link2 {
    border-radius: 30px;
}

.image-link2:hover {
    content: url("/Images/decollage1.png");
}


.logo {
    border: 2px solid black;
    border-radius: 30px;
}

div .col-sm-1 {
    width: 20%;
    background-color: white;
}

div .col-sm-4, .col-sm-7 {
    width: 20%;
    background-color: white;
}

div .pageVisible {
    background-color: lightblue;
    padding: 20px;
    margin-block: 20px;
    text-align: center;
    border: 2px solid blue;
    border-radius: 30px;
    min-height: 25px;
}

tr .contactPageVisible {
    background-color: lightcoral;
    padding: 20px;
    margin-block: 20px;
    text-align: center;
    border: 2px solid orange;
    border-radius: 3px;
    min-height: 25px;
}


.btnTransform{
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

/*formulaire connexion espace club*/

/*bodyClubLogin {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
.containerClubLogin {
    display: flex;
    width: 90%;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

}

    .containerClubLogin .img {
        border-radius: 30px;
        width: 800px;
    }

.loginClub {
    width: 600px;
}

    .loginClub p {
        color: #999;
    }

.identifiantsLoginClub {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 6px;
    margin: 10px 0;
}

form input {
    margin: 5px 0;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid #999;
    outline: 0;
    transition: 0.5s;
    color: #2BAEF7;
}

    form input:focus {
        border-bottom: 2px solid #2BAEF7;
    }

    form input[type=submit] {
        cursor: pointer;
        background-color: #2BAEF7;
        border: 1px;
        color: #fff;
        border-radius: 20px;
        margin-top: 15px;
        width: 100%;
    }

.link-redirection-inspcritpion-club {
    margin-top: 15px;
    text-align: center;
}

    .link-redirection-inspcritpion-club a {
        color: black;
        text-decoration: 0;
        font-weight: 500;
        transition: 0.25s;
    }



        .link-redirection-inspcritpion-club a:hover {
            color: #2BAEF7;
        }

.footer {
    margin-block: 1px;
    text-align: center;
    color: white;
    border: 2px solid black;
    border-radius: 30px;
    min-height: 25px;
    background-color: #23437a;
}