<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Site.css">
</head>
<body>
    <div class="header"></div>
    <div class="general">
        <div class="menu">
            <div>
                <input type="button" onclick="window.location.href='https://localhost:5001/Home';" class="btn btn--btnAcceuil" value="Accueil" />
                <input type="button" onclick="window.location.href='https://localhost:5001/Home/EspaceAdmin';" class="btn btn--btnAdmin" value="Admin" />
                <input type="button" onclick="window.location.href='https://localhost:5001/Home/PageEvents';" class="btn btn--btnAdmin" value="Événements" />
                <input type="button" onclick="window.location.href='https://localhost:5001/Home/PageEvents';" class="btn btn--btnAdmin" value="Galerie d'images" />
            </div>
        </div>
        <div class="contenu">@RenderBody()</div>
    </div>
    <div class="footer">
        <h3>Contact - 0188980303 - wingsolution@gmail.com</h3>
    </div>
</body>
</html>