<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Site.css">
</head>
<body>
    <div class="header"></div>
    <div class="general">
        <div class="menu">
            <div class="titre1">
                <h1>Menu</h1>
            </div>
            <div class="Boutton">
                <input type="button" value="Acceuil">
                <input type="button" value="Connexion">
                <input type="button" value="Rechercher Club">
                <input type="button" value="Abonnement">
                <input type="button" value="Évènement">
            </div>
        </div>
        <div class="contenu">@RenderBody()</div>
    </div>
    <div class="footer"></div>
</body>
</html>