<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Site.css">
</head>
<body>
    <div class="header"></div>
    <div class="general">
        <div class="menu">
            <div class="titre1">
                <h1>Menu</h1>
            </div>
            <div>
                <input type="button" onclick="window.location.href='https://localhost:5001/Home';" class="btn btn--btnAcceuil" value="Accueil" />
                <input type="button" onclick="window.location.href='https://localhost:5001/Home/EspaceAdmin';" class="btn btn--btnAdmin" value="Admin" />
                <input type="button" onclick="window.location.href='https://localhost:5001/Home/PageEvents';" class="btn btn--btnAdmin" value="Événements" />

                <button class="btn btn--btnConnexion">Connexion</button>
                <!--<input type="button1" value="Acceuil">
    <input type="button2" value="Connexion">
    <input type="button3" value="Rechercher Club">
    <input type="button4" value="Abonnement">
    <input type="button5" value="Évènement">-->
            </div>
            <!--</button>-->
        </div>
        <div class="contenu">@RenderBody()</div>
    </div>
    <div class="footer"></div>
</body>
</html>