@model Projet2.ViewModels.CreateClubViewModel
@{
    Layout = "_LayoutClub";
    ViewBag.Title = "EspaceClub";
}


<body>
    <center>
        <h1>Bienvenue @Html.ValueFor(m => Model.Club.InfosClub.NomClub)</h1>

        <p><h4>Voici un apperçu de votre page pour les visiteurs</h4></p>
        
        <a href=@("/Home/EspaceClubVisible/"+Model.Club.Id)><button type="button" class="btnParaBis btnParaBis--btnBis">Valider la page club</button></a>
      

        <a href=@("/Home/ModifyClubCreation/"+Model.Club.Id)><button class="btnParaBis btnParaBis--btnBis">Modifier</button></a>


        <a href=@("/Home/createUser4Club/"+Model.Club.Id)><button class="btnParaBis btnParaBis--btnBis">Ajouter un adhérent</button></a>
        
        <a href=@("/Home/CreateEvenementClub/"+Model.Club.Id)><button class="btnParaBis btnParaBis--btnBis">Ajouter une activité</button></a>


        <br />
        <br />
        <div class="pageVisible">
            <tr>
                <td><h1>@Html.ValueFor(m => Model.Club.InfosClub.titreClub)</h1></td>
            </tr>
            <br />
            <tr>
                <img src="~/Images/@Html.ValueFor(m=> Model.Club.InfosClub.urlLogo)" width="300px">
            </tr>
            <tr>
                <p>@Html.ValueFor(m => Model.Club.InfosClub.DescriptionClub)</p>
            </tr>

            <tr>
                <div class="contactPageVisible">
                    <h3>Contact</h3>
                    <p>@Html.ValueFor(m => Model.Club.Compte.AdressEmail)</p>
                </div>
            </tr>
            <br />
            <br />
            <a href=@("/Home/ListeAdherentsView/"+Model.Club.Id)><button type="button" class="btnParaBis btnParaBis--btnBis">Liste des adhérents du club</button></a>


            <a href=@("/Home/ActivitesClub/"+Model.Club.Id)><button type="button" class="btnParaBis btnParaBis--btnBis">Liste des activités du club</button></a>

        </div>




    </center>

</body>

