@{
    Layout = "_LayoutClub";
    ViewBag.Title = "EspaceClub";
}

<center>
    <h1>Bienvenue sur votre espace club</h1>
    <p>En tant que responsable de votre club, vous pouvez inscrire votre club sur WingSolution, et gérer votre vie de club.</p>
</center>



<div style="display:flex;justify-content: space-between; margin: 0px 0px 0px 0px;">
    <div class="container" style="display:flex;justify-content: space-between; margin: 90px 30px 30px 110px;">

        <a href="/Home/ClubLogin/"><img src="~/Images/btnConnexionClub.png" alt="1" class="image-link" id="1"></a>
        <div class="centered" style="font-size: x-large" id="1">
            <p>Connexion</p>
            <p>Club</p>
        </div>
    </div>
    <div class="container" style="display:flex;justify-content: space-between; margin: 90px 30px 30px 0px;">
        <a href="/Home/EspaceParapentiste"><img src="~/Images/btninscription.png" alt="1" class="image-link" id="2" /></a>
        <div class="centered" style="left:50%; font-size: x-large" id="2">
            <p>Inscription</p>
            <p>Club</p>
        </div>
    </div>
    <div class="container" style="display:flex;justify-content: space-between; margin: 90px 110px 30px 0px;">
        <a href="/Home/OfferCatalog"><img src="~/Images/Catalogue.png" alt="1" class="image-link" id="3" /></a>
        <div class="centered" style="left:52%; font-size: x-large" id="3">
            <p>Consulter nos offres</p>
        </div>
    </div>

</div>
@section JS{
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/MyScript.js"></script>

}
