@model Projet2.Models.Club
@{
    Layout = "_Layout";
    ViewBag.Title = "EspaceClub";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de votre club</title>
</head>
<center>

    <body>

        <h1>Site de votre club</h1>

        <p>ajouter une case pour insérer le logo</p>
        <p>ajouter un espace nom du club</p>
        <p>ajouter un calendrier</p>
        <p>etc</p>
    </body>
</center>

</html>

<br />