@{

    Layout = "_Layout";
    ViewBag.Title = "EspaceParapentiste";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Bienvenue sur votre espace personnel</h1>

    <p>Vous pouvez visionner la liste des clubs et vous inscrire à l'un d'entre eux, ainsi qu'à des événements.</p>

    <button type="submit" onclick="window.location.href='https://localhost:5001/Home/ClubList';">Voir la liste des clubs</button>

</body>
</html>

<br />