@{

    Layout = "_Layout";
    ViewBag.Title = "EspaceParapentiste";
}


    <bodyOffreCatalgue>
        <div class="containerOffre">
            <div class="img" style="margin: 30px 0px 30px 0px;">
                <img src="~/Images/espaceparaTiste.png" alt="1" size="400px">

            </div>



            <div class="loginOffre" style="margin: 0px 0px 0px 0px;">
                <h1>Bienvenue sur votre espace personnel !</h1>
                <h1>Ce qui vous attend ?</h1>

                <p>Un décollage imminent vers votre club de parapente ! Vous pourrez visionner la liste des clubs et vous inscrire à l'un d'entre eux, ainsi qu'à des événements.</p>
                
                <button type="submit" onclick="window.location.href='https://localhost:5001/Home/ClubList';" class="btnPara btnPara--btnClub">Voir la liste des clubs</button>
            </div>
            
        </div>
    </bodyOffreCatalgue>


