@{
    ViewBag.Title = "AdminView";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espace Admin</title>
</head>

    <body>
        <h1>Espace Admin</h1>

        <div style="margin: 20px">
            <input type="button" onclick="window.location.href='https://localhost:5001/Home/ClubList4Admin';" value="Liste des clubs" />
            <input type="button" onclick="window.location.href='https://localhost:5001/Home/UserList';" value="Liste des utilisateurs" />
        </div>

        <button type="submit">Déconnexion</button>

    </body>

</html>

