@{
    Layout = "_Layout";
    ViewBag.Title = "EspaceClub";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<center>

    <body>
        <h1>Bienvenue sur votre espace club</h1>

        <p>En tant que responsable de votre club, vous pouvez inscrire votre club sur WingSolution, et gérer votre vie de club.</p>

        <div style="margin: 20px">
            <a href=@("/Home/ClubLogin/")><button>Connexion</button></a>

                <button type="submit" onclick="window.location.href='https://localhost:5001/Home/CreateClub';">Inscription</button>
        </div>

        <button type="submit" onclick="window.location.href='https://localhost:5001/Home/OfferCatalog';">Consulter nos offres d'abonnement</button>


    </body>
</center>

</html>
