@model Projet2.ViewModels.CreateClubViewModel
@{
    Layout = "_LayoutClub";
    ViewBag.Title = "EspaceClub";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de votre club</title>
</head>

    <body>
        <center>
            <div class="pageVisible">
                <tr>
                    <td><h1>@Html.ValueFor(m => Model.Club.InfosClub.titreClub)</h1></td>
                </tr>
                <br />
                <tr>
                    <img src="~/Images/@Html.ValueFor(m=> Model.Club.InfosClub.urlLogo)" width="300px">
                </tr>
                <tr>
                    <p>@Html.ValueFor(m => Model.Club.InfosClub.DescriptionClub)</p>
                </tr>

                <tr>
                    <div class="contactPageVisible">
                        <h3>Contact</h3>
                        <p>@Html.ValueFor(m => Model.Club.Compte.AdressEmail)</p>
                    </div>
                </tr>
                <br />
                <br />
                <button type="button" onclick="window.location.href='https://localhost:5001/Home/ListeAdherentsView';">Liste des adhérents</button>

                <button type="submit" onclick="window.location.href='https://localhost:5001/Home/Activites';">Liste des activités du club</button>
            </div>
        </center>
    </body>

</html>

<br />