@model Projet2.ViewModels.CreateClubViewModel
@{
    Layout = "_LayoutClub";
    ViewBag.Title = "EspaceClub";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body>
    <center>
        <h1>Bienvenue @Html.ValueFor(m => Model.Club.InfosClub.NomClub)</h1>

        <p><h4>Voici la page que verrons les visiteurs</h4></p>
        <a href=@("/Home/EspaceClubVisible/"+Model.Club.Id)><button>Valider et accéder à la page club</button></a>
        @*<input type="submit" value="Valider et accéder à la page club" />*@

        <a href=@("/Home/ModifyClubCreation/"+Model.Club.Id)><button>Modifier</button></a>


        <a href=@("/Home/createUser4Club/"+Model.Club.Id)><button>Ajouter un adhérent</button></a>



        <br />
        <br />
        <div class="pageVisible">
            <tr>
                <td><h1>@Html.ValueFor(m => Model.Club.InfosClub.titreClub)</h1></td>
            </tr>
            <br />
            <tr>
                <img src="~/Images/@Html.ValueFor(m=> Model.Club.InfosClub.urlLogo)" width="300px">
            </tr>
            <tr>
                <p>@Html.ValueFor(m => Model.Club.InfosClub.DescriptionClub)</p>
            </tr>

            <tr>
                <div class="contactPageVisible">
                    <h3>Contact</h3>
                    <p>@Html.ValueFor(m => Model.Club.Compte.AdressEmail)</p>
                </div>
            </tr>
            <br />
            <br />
            <button type="button" onclick="window.location.href='https://localhost:5001/Home/ListeAdherentsView';">Liste des adhérents</button>


            <a href=@("/Home/ActivitesClub/"+Model.Club.Id)><button>Liste des activités du club</button></a>

        </div>




    </center>

</body>

</html>

<br />