@model List<Projet2.Models.OffreAbonnement>
@{
    ViewBag.Title = "OffreAbonnement";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue d'offre d'abonnement</title>
</head>
<body>
    <h1>Choississez l'offre qui vous convient</h1><br />
    <table class="abo">

        @foreach (var member in Model)
        {


            <tr>
                <td><input name="OffreAbonnement" value="news" type="radio" /></td>
                <td><b>Abonnement @member.TypeOffre </b> -- <b> @member.Prix €</b></td>
            </tr>

            <tr>
                <td></td>
                <td><em>Engagement : @member.DureeOffreMois mois</em></td>
            </tr>
            <tr>
                <td></td>
                <td>@member.DescriptionOffre</td>
            </tr>

        }
                   
    </table>


    <br />
    <br />

    <div>
        <input type="submit" onclick="window.location.href='https://localhost:5001/Home/PaymentView';" value="S'abonner" />
    </div>

</body>




