@model List<Projet2.Models.OffreAbonnement>
@{
    ViewBag.Title = "OffreAbonnement";
    Layout = "_LayoutClub";
}
<center>
    <h1>Choississez l'offre qui vous convient</h1>
</center>

<body>
    <div class="containerOffre">
        <div class="img" style="margin: 30px 0px 30px 0px;">
            <img src="~/Images/OffreAbonnement.png" alt="1" size="400px">
            
        </div>

        <div class="loginOffre" style="margin: 0px 0px 0px 0px;">
            <h1>Quelle offre préférez-vous ?</h1>
            <p> Sélectionnez l'offre qui vous convient puis validez </p>
            @foreach (var member in Model)
            {
                {
                    <input type="radio" name="OffreAbonnement" value="Abonnement" required><b>Abonnement @member.TypeOffre </b><b> @member.Prix €</b>
                    <p><em>Engagement : @member.DureeOffreMois mois</em></p>
                    <p>@member.DescriptionOffre</p>
                    <br />
                }


            }
            <input type="button" onclick="window.location.href='https://localhost:5001/Home/PaymentViewClub';" value="S'abonner" style="display:none;" id="abonnementbutton">
        </div>
    </div>
</body>




@*    Script permettant l'apparition du bouton avec un radiobutton selectionné*@
@section JS{
    <script>function updatebtn() {
            var radioButtons = document.querySelectorAll('input[name="OffreAbonnement"]')
            var ischecked = false
            for (let btn of radioButtons) {
                if (btn.checked) {
                    ischecked = true
                }
            }
            if (ischecked) {
                var inputbtn = document.getElementById("abonnementbutton")
                inputbtn.style.display = "block"
            }
        }
        var radioButtons = document.querySelectorAll('input[name="OffreAbonnement"]')
        for (let btn of radioButtons) {
            btn.addEventListener("click", function () {
                updatebtn()
            })
        }</script>
}




