@{

    Layout = "_Layout";
    ViewBag.Title = "WelcomeView";
}

<div class="slider">
    <div class="slides">
        <slide><img src="~/Images/para_ferret.png" alt="1" /></slide>
        <slide><img src="~/Images/para_montagne.png" alt="2" /></slide>
        <slide><img src="~/Images/parap_lac.png" alt="3" /></slide>
    </div>
</div>

<h1 class="titreSite">Bienvenue sur WingSolution</h1>

<center>
    <p>Notre plateforme est une passerelle entre parapentistes et clubs de parapentes.</p>
    <p>Parapentistes, vous pouvez rejoindre un de nos clubs membres et participer aux événements proposés par les clubs.</p>
    <p>Clubs de parapentes, vous disposez d'une plateforme vous permettant de gérer votre vie de club et sur laquelle donner de la visibilité à vos événements.</p>
    <br />
</center>




<div style="display:flex;justify-content: space-evenly; margin: 0px 0px 0px 0px;">
    <div class="container" style="display:flex;justify-content: space-between; margin: 0px 0px 0px 170px;">

        <a href="/Home/EspaceClub"><img src="~/Images/espaceclub2.png" alt="1" class="image-link" id="1"></a>
        <div class="centered" style="font-size: x-large" id="1">
            <p>Espace</p>
            <p>Club</p>
        </div>
    </div>
    <div class="container" style="display:flex;justify-content: space-between; margin: 0px 170px 0px 0px;">
        <a href="/Home/EspaceParapentiste"><img src="~/Images/espaceparapentiste.png" alt="1" class="image-link" id="2" /></a>
        <div class="centered" style="left:52%; font-size: x-large" id="2">
        <p>Espace</p>
        <p>Parapentiste</p>
        </div>
    </div>

</div>
@section JS{
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/MyScript.js"></script>

}

