@{

    Layout = "_Layout";
    ViewBag.Title = "WelcomeView";
    }
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome</title>
    </head>
    <body>
        <h1>Bienvenue sur WingSolution</h1>

        <p>Notre plateforme est une passerelle entre parapentistes et clubs de parapentes.</p>
        <p>Parapentistes, vous pouvez rejoindre un de nos clubs membres et participer aux événements proposés par les clubs</p>
        <p>Clubs de parapentes, vous disposez d'une plateforme vous permettant de gérer votre vie de club et sur laquelle donner de la visibilité à vos événements.</p>
        <br />


        <div>
            <input type="button" onclick="window.location.href='https://localhost:5001/Home/EspaceClub';" class="btn btn--btnClub" value="Espace club" />
            <input type="button" onclick="window.location.href='https://localhost:5001/Home/EspaceParapentiste';" class="btn btn--btnParapentiste" value="Espace parapentiste" />
        </div>


    </body>
</html>
